body {
  color: #020202;
  background: #000000;
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6, p, a, li, blockquote {
  padding-top: 15px;
  font-family: 'helvetica', san-serif;

}

blockquote {
  font-style: italic;
  font-size: 24px;

}
