* {
  margin: 0;
  padding: 0;
}

body {
  background: #4EF4E6;
}

.container {
  background: white;
  width: 80%;
  margin: auto;
  padding: 20px;
  padding-bottom: 200%;
  overflow: auto;

}

li {
  list-style: none;
}

.bio {
  float: left;
  display: block;
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  padding-bottom: 10%;
  padding-left: 18%;
}

.topleft {
  text-align: left;
  float: left;
  width: 30%;
}

.section {
  font-family: monospace;
  font-size: 14px;
  width: 65%;
  float: right;
  text-align: left;
}

h3 {
  font-size: 27px;
  font-weight: lighter;
  text-decoration: underline;
  padding-bottom: 2%;
}

#tech-skills {
  color: black;
  background: #75F4F4;
}

.job {
  text-align: justify;
  padding: 15px;
}
