body {
  padding-left: 45px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

/****** I DONT THINK THIS IS NEEDED BUT NOT SURE.
title {
  color: #FF1000;
  padding-left: 45px;
}
*/


/* I NEED TO GET THIS SECTION TO MOVE DOWN!*/
nav a {
  color: #CECECE;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-right: 0.1px;
  font-weight: lighter;
  background: black;
  padding: 10px;
  width: 40%;
}


/*p::first-letter {
  font-size: 55px;
  font-weight: 300;
  color: #CECECE;
  float: left;
  margin-right: 5px;
  font-family: 'Lato', sans-serif;
} */

.about-us {
  float:right;
  width: 40%;
}

p {
color: grey;
font-size: 12px;
}



img {
  width: 100%;
}

.date {
  color: #CECECE;
  margin-top: 30px;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}

.above-image {
  color: black;
  margin: 8px 0px;
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  margin:0;
  margin-top: 30px;
}

.subhead {
  font-size: 18px;
  color: grey;
  font-weight: 100;
  position: absolute;
  right: 63%;
  top: 12.5px;
}

h1 a {
  color: red;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: black;
  padding-top: 20px;
}

h2 {
  color: #000000;

}

.continue h4 a {
  display: block;
  color: #FF1000;
  font-size: 15px;
  text-align: right;
  position: left;
  font-family: arial;
}

article {
  border-bottom: 1px solid black;
  width: 40%;
}
