body {
  padding-left: 45px;
  font-family: 'Open Sans', sans-serif;
}

/****** I DONT THINK THIS IS NEEDED BUT NOT SURE.
title {
  color: #FF1000;
  padding-left: 45px;
}
*/


/* I NEED TO GET THIS SECTION TO MOVE DOWN!*/
nav a {
  color: #CECECE;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  background: black;
  padding: 10px;
  display: inline;
}

nav {
  margin-top: 10px;
  float: left;
  width: 90%;
  padding-bottom: 50px;

}

.above-image {
  font-weight: lighter;
  font-size: 20px;
  color: #8c8c8c;

}

/*p::first-letter {
  font-size: 55px;
  font-weight: 300;
  color: #CECECE;
  float: left;
  margin-right: 5px;
  font-family: 'Lato', sans-serif;
} */

.section-1 {
}

li {
  color: red;
  width: 80%;

  }


img {
  width: 100%;
}

.date {
  color: #CECECE;
  margin-top: 30px;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}

.left-side {

}

h1, h2, h3 {
  margin:0;
  margin-top: 10px;
}

.subhead {
  font-size: 18px;
  color: grey;
  font-weight: 100;
  position: absolute;
  right: 70%;
  top: 12.5px;
}

h1 a {
  color: red;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: black;
  padding-top: 20px;
}

h2 {
  color: #000000;

}

.continue h4 a {
  display: block;
  color: #FF1000;
  font-size: 15px;
  text-align: right;
  position: left;
  font-family: arial;
}

article {
  border-bottom: 1px solid black;
  width: 40%;
}

p {
  font-size: 12px;
  color: grey;
}

h5 {
  position: absolute;
  right: 50%;
  top: 12%;
  color: grey;
  }

  h6 {
    position: absolute;
    right: 45%;
    text-align: left;
    top: 12%;
    width: 15%;
    color: grey;
    }


#right-side {
  float:right;
  left: 45%;
  top: 15%;
  width: 15%;
}

.about-text {
  position: absolute;
  left: 45%;
  top: 15%;
  width: 15%;

  }

  ul {
    position: absolute;
    right:35%;
    top: 50%;
    font-size: 12px;
    font-weight: lighter;
  }

  .ad-box {
    background: grey;
    height: 170px;
    width: 190px;
    position: absolute;
    right: 40%;
    top: 30%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

  }
